<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excel to PDF Converter</title>
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}"> <!-- Link to your CSS file -->
</head>
<body>
<div class="container">
    <h1>Excel to PDF Converter</h1>
    <div class="message" th:if="${message}" th:text="${message}"></div>
    <form action="/convert-excel-to-pdf" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Excel To PDF</button>
    </form>
</div>
</body>
</html>
